{% extends 'index.html' %} 
    {% block body %}
    <div class="form">
        <form method="POST"> 
 
            <form method="POST"> 
                <h1 id="taskheader">Tasks</h1>  
                <label>Task:</label> 
                <input type="text" id="task" name="task" required><br/> 
                <label>Time:</label> 
                <input type="text" id="time" name="time" required><br/> 
                <label>Location:</label> 
                <input type="text" id="location" name="location" required><br/> 
                <label>Description:</label> 
                <input type="text" id="description" name="description" required><br/> 
                <input type = "submit" class="pbutton" value = "Submit"/><br/> 
    </div>
    {% endblock %}
