<!DOCTYPE html>
<html>
 
<head>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
    <ul id="navbar">
        <li class="navitem"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo"></li>
        <li class="navitem"><a href="{{ url_for('index') }}">View</a></li>
        <li class="navitem"><a href="{{ url_for('add_timetable') }}">Add</a></li>      
        <li class="navitem"><a href="{{ url_for('view_timetable') }}">Edit</a></li>      
    </ul>
    {% block body %}
    <div class="form">
        <form method="POST"> 
 
            <form method="POST"> 
                <h1 id="taskheader">Tasks</h1>  
                <label>Task:</label> 
                <input type="text" id="task" name="task" required><br/> 
                <label>Time:</label> 
                <input type="text" id="time" name="time" required><br/> 
                <label>Location:</label> 
                <input type="text" id="location" name="location" required><br/> 
                <label>Description:</label> 
                <input type="text" id="description" name="description" required><br/> 
                <input type = "submit" class="pbutton" value = "Submit"/><br/> 
    </div>
    {% endblock %}
</body>
</html>