<!DOCTYPE html>
<html>
 
<head>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

{% block body %}
<body>
    <ul id="navbar">
        <li class="navitem"><a href="{{ url_for('index') }}">View TimeTable</a></li>
        <li class="navitem"><a href="{{ url_for('index') }}">Edit TimeTable</a></li>
        <li class="navright"><a href="{{ url_for('index') }}">Help</a></li>
    </ul>
    <body>  
            <table style="width:100%"> 
                <tr> 
                    <th>Task</th> 
                    <th>Time</th> 
                    <th>Location</th> 
                    <th>Description</th> 
                </tr> 
                {%for timetable in data%} 
                
                {%endfor%} 
            </table>		 
        </body> 
        {% endblock %}
</html> 

