
<!DOCTYPE html>
<html>
 
<head>
    <!--This is how we link to our CSS file in our static folder-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <ul id="navbar">
        <li class="navitem"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo"></li>
        <li class="navitem"><a href="{{ url_for('index') }}">View</a></li>
        <li class="navitem"><a href="{{ url_for('add_timetable') }}">Add</a></li>
        <li class="navitem"><a href="{{ url_for('view_timetable') }}">Edit</a></li>
        <form class="search_button" action="action_page.php">
            <input type="text" placeholder="Search..(this is just for aesthetics btw doesn't work)" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>          
          

    </ul>
    {% block body %}
    <div class="form-container"> <!-- Container for styling -->
        <h2 class="cleanheader">Task List</h2> <!-- Updated title for clarity -->
        
        <table id="viewtask">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for day in day %}
                <tr>
                    <td>{{ day.task }}</td>
                    <td>{{ day.time }}</td>
                    <td>{{ day.location }}</td>
                    <td>{{ day.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>
