{% extends 'index.html' %} 
{% block body %}

{% block content %}
<body>
<h2 class="cleanheader">Edit Tasks</h2>
<table id="viewtask">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Time</th>
            <th>Location</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for day in day %}
        <tr>
            <td>{{ day.id }}</td>
            <td>{{ day.task }}</td>
            <td>{{ day.time }}</td>
            <td>{{ day.location }}</td>
            <td>{{ day.description }}</td>
            <td>
            <a class="edit" href="{{ url_for('edit_timetable', id=day.id) }}">Edit</a>
            <form action="{{ url_for('delete_timetable', id=day.id) }}" method="post" style="display:inline;">
                    <button class="psbutton" type="submit">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% endblock %}
</body>
</html>
